<div class="container">
  <div class="row white z-depth-1 frame">
    <h3 class="col s12 grey-text text-darken-3 center"><%= @survey.title() %></h3>
    <form action="/surveys/<%= @survey.id() %>/results" method="post">
      <% @counter = 1 %>
      <% @survey.questions().each() do |question| %>
        <div class="row">
          <div class="col m9 offset-m3">
            <h5 class="teal-text lighten-2"><%= question.q() %></h5>
          </div>
        </div>
        <div class="row">
          <div class="col m6 offset-m3">
            <input type="radio" name="<%= question.id() %>" id="<%= @counter%>">
            <label for="<%= @counter %>"><%= question.pa1() %></label>
          </div>
          <div class="col m6 offset-m3">
            <input type="radio" name="<%= question.id() %>" id="<%= @counter.+(1) %>">
            <label for="<%= @counter.+(1) %>"><%= question.pa2() %></label>
          </div>
          <div class="col m6 offset-m3">
            <input type="radio" name="<%= question.id() %>" id="<%= @counter.+(2) %>">
            <label for="<%= @counter.+(2) %>"><%= question.pa3() %></label>
          </div>
          <div class="col m6 offset-m3">
            <input type="radio" name="<%= question.id() %>" id="<%= @counter.+(3) %>">
            <label for="<%= @counter.+(3) %>"><%= question.pa4() %></label>
          </div>
        </div>
        <% @counter = @counter.+(4) %>
      <% end %>
      <div class="center">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
      </div>
    </form>
  </div>
</div>
